.home_Banner_bg_1 {
  @include background(
    "../img/banner/home_banner.jpg",
    center center,
    no-repeat
  );
}
.home_Banner_bg_2 {
  @include background(
    "../img/banner/home_banner2.jpg",
    center center,
    no-repeat
  );
}
.home_Banner_bg_3 {
  @include background(
    "../img/banner/home_banner3.jpg",
    center center,
    no-repeat
  );
}
.home_banner {
  .banner_single {
    padding: 148px 0 148px 0;

    @media #{$tab} {
      padding: 130px 0 130px 0;
    }
    @media #{$medium_device} {
      padding: 150px 0 150px 0;
    }
    .banner__text {
      max-width: 543px;
      span {
        font-size: 18px;
        font-weight: 600;
        color: $home_secondary;
        display: block;
        text-transform: uppercase;
        font-family: $font2;
      }
      h3 {
        font-size: 60px;
        font-weight: 700;
        color: $home_primary;
        line-height: 1.27;
        margin: 21px 0 44px 0;
        font-family: $font1;
        @media #{$tab} {
          font-size: 35px;
          margin: 9px 0 25px 0;
        }
      }
    }
  }
  .owl-carousel {
    .owl-nav div {
      background: #fff;
      height: 50px;
      line-height: 50px;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50px;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      width: 50px;
      font-size: 12px;
      color: #000;
      @include border-radius(50%);
      border: 0;
      transform: translateY(-50%);
    }
    .owl-nav {
      div {
        &.owl-next {
          right: 50px;
          left: auto;
        }
        &.owl-prev {
        }
      }
    }
    &:hover {
      .owl-nav {
        div {
          opacity: 1;
          visibility: visible;
          &:hover {
            color: $white;
            background: $home_secondary;
          }
        }
      }
    }
  }

  .owl-dots {
    display: flex;
    justify-content: start;
    grid-gap: 15px;
    position: absolute;
    align-items: center;
    bottom: 35px;
    left: 0;
    right: 0;
    max-width: 1165px;
    margin: auto;
    @media #{$small_mobile} {
      left: 15px;
    }
    @media #{$large_mobile} {
      left: 35px;
    }
    @media #{$medium_device} {
      left: 40px;
    }
    @media #{$lg_device} {
      left: 40px;
    }
    @media #{'(min-width: 1200px) and (max-width: 1599.98px)'} {
      left: 40px;
    }
    @media #{'(min-width: 1600px) and (max-width: 1799.98px)'} {
      left: 150px;
    }
    .owl-dot {
      span {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #687083;
        display: inline-block;
        transition: 0.3s;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 30px;
          height: 30px;
          border: 1px solid $home_secondary;
          border-radius: 50%;
          left: -11px;
          top: -11px;
          transform: scale(0);
          transition: 0.3s;
        }
        &:hover {
          transform: scale(1);
        }
      }
      &.active {
        span {
          width: 8px;
          height: 8px;
          background: $home_secondary;
          &:before {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
}
