.home3_blog_area {
  padding: 87px 0 67px 0;
  background: #f7f7f7;
  @media #{$tab} {
    padding: 73px 0 47px 0;
  }

  &.blog_area_page {
    padding: 93px 0 69px 0;
    @media #{$tab} {
      padding: 67px 0 50px 0;
    }
    .single_blog {
      margin-bottom: 27px;
    }
  }
}

.home11_blog_area {
  padding: 58px 0 58px 0;
  background: #fff;
  @media #{$tab} {
    padding: 38px 0 40px 0;
  }
}

.blog_page_area {
  padding: 100px 0 0 0;
  @media #{$tab} {
    padding: 80px 0 0 0;
  }
  .blog_big_img {
    background: #f7f7f7;
    padding: 40px 50px;
    height: 626px;
    background-image: url(../img/blog/blog_big.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    background-position: top center;
    @media #{$tab} {
      padding: 30px 40px;
      margin-bottom: 30px;
      height: 500px;
    }
    @media #{$tab2} {
      margin-bottom: 30px;
    }
    @media #{$lg_device} {
      margin-bottom: 30px;
    }
    .thumb {
      display: block;
      img {
        width: 100%;
      }
    }
    .blog_meta {
      max-width: 332px;
      span {
        font-size: 14px;
        font-weight: 400;
        color: #676e8b;
        margin-bottom: 10px;
        display: block;
      }
      h4 {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.45;
        margin-bottom: 0;
        transition: 0.3s;
        &:hover {
          color: $home_primary4;
        }
      }
    }
  }
  .blog_page_gallry {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 23px;
    @media #{$tab} {
      grid-template-columns: repeat(1, 1fr);
    }
    .single_blog_galry {
      .thumb {
        display: block;
        overflow: hidden;
        img {
          width: 100%;
          transition: 0.3s;
          transform: scale(1);
        }
      }
      .blog_content {
        max-width: 300px;
        span {
          font-size: 14px;
          font-weight: 400;
          color: #676e8b;
          display: block;
          margin: 16px 0 5px 0;
        }
        h4 {
          font-size: 18px;
          line-height: 1.56;
          font-weight: 700;
          transition: 0.3s;
          margin-bottom: 0;
          &:hover {
            color: $home_primary4;
          }
        }
      }
      &:hover {
        .thumb {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.amazy_blog_section {
  .amaz_pagination {
    padding-top: 50px;
    @media #{$tab} {
      padding-top: 30px;
    }
  }
}

//amazy_blog_Widget
.amazy_blog_Widget {
  .thumb {
    overflow: hidden;
    display: block;
    img {
      width: 100%;
      transition: 0.3s;
      transform: scale(1);
    }
  }
  .blog_content {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: start;
    align-items: start;
    padding-right: 30px;
    span {
      font-size: 14px;
      font-weight: 400;
      color: $home_body;
      display: block;
      margin: 0 0 0 0;
      font-family: $font1;
    }
    h4 {
      font-size: 22px;
      font-weight: 700;
      transition: 0.3s;
      color: $home_primary;
      line-height: 1.45;
      max-width: 385px;
      font-family: $font1;
      margin: 28px 0 5px 0;
      @media #{$tab} {
        font-size: 20px;
      }
      &:hover {
        color: $home_secondary;
      }
    }
    p {
      font-size: 16px;
      line-height: 1.63;
      margin: 25px 0 39px 0;
    }
  }
  &.style2 {
    &.mb_55 {
      @media #{$tab} {
        margin-bottom: 35px;
      }
    }
    .blog_content {
      padding-top: 16px;
      span {
        font-size: 14px;
      }
      h4 {
        font-size: 24px;
        line-height: 1.33;
        max-width: 100%;
        margin: 7px 0 9px 0;
        @media #{$tab} {
          font-size: 20px;
        }
        &:hover {
          color: $home_secondary;
        }
      }
      p {
        margin: 0px 0 23px 0;
      }
    }
  }
  &:hover {
    .thumb {
      img {
        transform: scale(1.1);
      }
    }
  }
}
