.primary_checkbox {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
  h5 {
    font-size: 14px;
    font-weight: 500;
    font-family: $font1;
    color: $home_primary;
    margin-bottom: 0;
  }
  .label_name {
    font-size: 14px;
    font-weight: 500;
    font-family: $font1;
    color: $home_body;
    margin-bottom: 0;
  }
  &.white_checkbox {
    .checkmark:after {
      border-color: $white;
    }
  }
  .checkmark {
    position: relative;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    line-height: 18px;
    flex: 18px 0 0;
    border-radius: 3px;
  }
  // .checkmark:after {
  //     content: "";
  //     position: absolute;
  //     display: none;
  // }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  input:checked ~ .checkmark:after {
    // background: linear-gradient(90deg, #7C32FF 0.47%, #C738D8 100%);
    width: 100%;
    height: 100%;
    border: 0;
    // box-shadow: 0px 5px 10px rgba(108, 39, 255, 0.25);
    transition: 0.3s;
    transform: scale(0);
  }
  input:checked ~ .checkmark {
    background: $home_secondary;
    // width: 100%;
    // height: 100%;
    transition: 0.3s;
  }
  input:checked ~ .checkmark::before {
    content: "\e64c";
    font-family: "themify";
    position: absolute;
    display: block;
    top: 0px;
    left: 3px;
    text-indent: 1px;
    color: #828bb2;
    background-color: transparent;
    border: 0px;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg);
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    z-index: 99;
    color: #fff;
    transition: 0.3s;
  }

  .checkmark:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 3px;
    border: 1px solid #f1ece8;
    transition: 0.3s;
    transform: scale(1);
  }
  &.style2 {
    .checkmark:after,
    .checkmark {
      border-radius: 50%;
    }
    .checkmark {
      width: 15px;
      height: 15px;
      line-height: 15px;
      flex: 15px 0 0;
    }
    input:checked ~ .checkmark::before {
      top: 0px;
      left: 3px;
      border: 0px;
      font-size: 8px;
      line-height: 15px;
    }
    .checkmark:after {
      width: 15px;
      height: 15px;
    }
  }
  &.style3 {
    .checkmark:after,
    .checkmark {
      border-radius: 50%;
    }
    .checkmark {
      width: 20px;
      height: 20px;
      line-height: 20px;
      flex: 20px 0 0;
    }
    input:checked ~ .checkmark::before {
      top: 0px;
      left: 3px;
      border: 0px;
      font-size: 11px;
      line-height: 20px;
    }
    .checkmark:after {
      width: 20px;
      height: 20px;
    }
    .label_name {
      font-size: 16px;
      font-weight: 500;
      color: #00124e;
    }
  }
  &.style4 {
    .checkmark:after,
    .checkmark {
      border-radius: 50%;
    }
    .checkmark {
      width: 19px;
      height: 19px;
      line-height: 19px;
      flex: 19px 0 0;
    }
    input:checked ~ .checkmark::before {
      top: 0px;
      left: 3px;
      border: 0px;
      font-size: 11px;
      line-height: 19px;
    }
    .checkmark:after {
      width: 19px;
      height: 19px;
      border: 5px solid #687083;
    }
    .label_name {
      font-size: 14px;
      font-weight: 500;
      color: $body_text;
    }
  }
  &.style5 {
    .checkmark:after,
    .checkmark {
      border-radius: 50%;
    }
    .checkmark {
      width: 19px;
      height: 19px;
      line-height: 19px;
      flex: 19px 0 0;
    }
    input:checked ~ .checkmark::before {
      top: 0px;
      left: 3px;
      border: 0px;
      font-size: 11px;
      line-height: 19px;
      display: none;
    }
    input:checked ~ .checkmark::after {
      border: 5px solid #222222;
      transform: scale(1);
    }
    input:checked ~ .checkmark {
      background: transparent;
    }
    .checkmark:after {
      width: 19px;
      height: 19px;
      border: 2px solid #e3e6ef;
    }
    .checkmark:before {
      display: none;
    }
    .label_name {
      font-size: 14px;
      font-weight: 500;
      color: #222;
      position: relative;
      top: 1px;
    }
  }
  &.style6 {
    .checkmark:after,
    .checkmark {
      border-radius: 50%;
    }
    .checkmark {
      width: 18px;
      height: 18px;
      line-height: 18px;
      flex: 18px 0 0;
      background: #fff !important;
      border: 1px solid #e1e2e6;
    }
    input:checked ~ .checkmark::after {
      width: 10px;
      height: 10px;
      border: 0;
      transition: 0.3s;
      transform: scale(1);
      background: red;
      border: 0 !important;
      left: 3px;
      top: 3px;
    }
    input:checked ~ .checkmark {
      border: 1px solid #fd4949;
    }
    input:checked ~ .checkmark::before {
      display: none;
    }
    .checkmark:after {
      width: 10px;
      height: 10px;
      left: 3px;
      top: 3px;
      border: 0 !important;
    }
    .checkmark::before {
      display: none;
    }
    .label_name {
      font-size: 14px;
      font-weight: 500;
      color: #687083;
    }
  }
}

.round_checkbox {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
  width: 35px;
  height: 35px;
  h5 {
    font-size: 14px;
    font-weight: 500;
    font-family: $font1;
    color: $home_primary;
    margin-bottom: 0;
  }
  .label_name {
    font-size: 14px;
    font-weight: 500;
    font-family: $font1;
    color: #656565;
    margin-bottom: 0;
  }
  &.white_checkbox {
    .checkmark:after {
      border-color: $white;
    }
  }
  .checkmark {
    position: relative;
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    line-height: 18px;
    flex: 35px 0 0;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
  }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  input .checkmark {
  }
  input:checked ~ .checkmark {
    border-color: $home_secondary;
  }
  .checkmark::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: $home_secondary;
    border-radius: 50%;
    left: 4px;
    top: 4px;
  }
  input:checked ~ .checkmark::after {
    border-color: $home_secondary;
  }
  .checkmark:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 35px;
    height: 35px;
    background: transparent;
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(1);
  }

  &.black_check {
    input:checked ~ .checkmark {
      border-color: #000000;
    }
    .checkmark::before {
      background: #000;
    }
  }

  &.blue_check {
    input:checked ~ .checkmark {
      border-color: #1f73be;
    }
    .checkmark::before {
      background: #1f73be;
    }
  }
  &.gray_check {
    input:checked ~ .checkmark {
      border-color: #d6d6d6;
    }
    .checkmark::before {
      background: #d6d6d6;
    }
  }
  &.paste_check {
    input:checked ~ .checkmark {
      border-color: #81d742;
    }
    .checkmark::before {
      background: #81d742;
    }
  }
  &.brouwn_check {
    input:checked ~ .checkmark {
      border-color: #dd9a32;
    }
    .checkmark::before {
      background: #dd9a32;
    }
  }
  &.violate_check {
    input:checked ~ .checkmark {
      border-color: #8224e2;
    }
    .checkmark::before {
      background: #8224e2;
    }
  }
  &.red_check {
    input:checked ~ .checkmark {
      border-color: #ef3736;
    }
    .checkmark::before {
      background: #ef3736;
    }
  }
  &.yellow_check {
    input:checked ~ .checkmark {
      border-color: #eeee22;
    }
    .checkmark::before {
      background: #eeee22;
    }
  }
}

.smallRound_checkbox {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
  width: 24px;
  height: 24px;
  h5 {
    font-size: 14px;
    font-weight: 500;
    font-family: $font1;
    color: $home_primary;
    margin-bottom: 0;
  }
  .label_name {
    font-size: 14px;
    font-weight: 500;
    font-family: $font1;
    color: #656565;
    margin-bottom: 0;
  }
  &.white_checkbox {
    .checkmark:after {
      border-color: $white;
    }
  }
  .checkmark {
    position: relative;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    line-height: 18px;
    flex: 24px 0 0;
    border-radius: 50%;
  }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  input .checkmark {
  }
  input:checked ~ .checkmark {
    border-color: $home_secondary;
  }
  .checkmark::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: $home_secondary;
    border-radius: 50%;
    left: 3px;
    top: 3px;
  }
  input:checked ~ .checkmark::after {
    border-color: transparent;
    transform: scale(0);
  }
  input:checked ~ .checkmark::before {
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
  }
  .checkmark:after {
    position: absolute;
    display: block;
    top: -1;
    left: -1;
    content: "";
    width: 24px;
    height: 24px;
    background: transparent;
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(1);
    border: 1px solid #c3c6ce;
  }

  &.black_check {
    input:checked ~ .checkmark {
      border-color: #000000;
    }
    .checkmark::before {
      background: #000;
    }
  }

  &.blue_check {
    input:checked ~ .checkmark {
      border-color: #1f73be;
    }
    .checkmark::before {
      background: #1f73be;
    }
  }
  &.gray_check {
    input:checked ~ .checkmark {
      border-color: #d6d6d6;
    }
    .checkmark::before {
      background: #d6d6d6;
    }
  }
  &.paste_check {
    input:checked ~ .checkmark {
      border-color: #81d742;
    }
    .checkmark::before {
      background: #81d742;
    }
  }
  &.brouwn_check {
    input:checked ~ .checkmark {
      border-color: #dd9a32;
    }
    .checkmark::before {
      background: #dd9a32;
    }
  }
  &.violate_check {
    input:checked ~ .checkmark {
      border-color: #8224e2;
    }
    .checkmark::before {
      background: #8224e2;
    }
  }
  &.red_check {
    input:checked ~ .checkmark {
      border-color: #ef3736;
    }
    .checkmark::before {
      background: #ef3736;
    }
  }
  &.yellow_check {
    input:checked ~ .checkmark {
      border-color: #eeee22;
    }
    .checkmark::before {
      background: #eeee22;
    }
  }
}

.play_button {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  color: $home_primary;
  display: inline-block;
  text-align: center;
  line-height: 100px;
  position: relative;
  font-size: 24px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background: $home_secondary;
    color: $white;
  }
}
.play_button2 {
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 50%;
  color: $home_secondary;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  position: relative;
  font-size: 13px;
  transition: 0.3s;
  cursor: pointer;
  border: 1.5px solid $home_secondary;
  &:hover {
    background: $home_secondary;
    color: $white;
  }
}

.theme__overlay {
  position: relative;
  z-index: 2;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a0b21;
    opacity: 0.4;
    z-index: -1;
  }
}

.lms_tabmenu {
  background: #f8f8fe;
  border-radius: 10px;
  display: inline-flex;
  li {
    a {
      font-size: 16px;
      font-weight: 600;
      font-family: $font1;
      color: $home_primary;
      border-radius: 10px;
      padding: 13px 39px;
      @media #{$tab} {
        padding: 13px 30px;
      }
      @media #{$large_mobile} {
        padding: 13px 27px;
      }
      &.active {
        background: $home_secondary;
        color: $white;
        border-radius: 10px;
      }
    }
  }
}

.theme_border {
  border-top: 1px solid #e9e7f7;
}

.theme_according {
  button {
    &::before {
      left: 5px;
      position: absolute;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      content: "\e622";
      font-family: "themify";
      font-size: 10px;
      color: #090b17;
      font-weight: 900;
      top: 17px;
    }
    &.collapsed::before {
      content: "\e61a";
      font-family: "themify";
    }
  }
}
.theme_according {
  .card {
    margin-bottom: 15px;
    border: 0;
    .card-header {
      border: 0;
      border-bottom: 1px solid #f1ece8;
      border-radius: 0px;
      background: transparent;
      padding: 0;
      h5 {
        button {
          font-family: $font1;
          font-size: 16px;
          font-weight: 500;
          color: $home_primary;
          display: flex;
          justify-content: space-between;
          width: 100%;
          border: 0;
          padding: 11.5px 25px 13px 30px;
          text-decoration: none !important;
          text-align: left;
          box-shadow: none;
          @media #{$tab} {
            flex-wrap: wrap;
          }
          span {
            font-size: 14px;
            font-weight: 500;
            font-family: $font1;
            color: $home_primary;
          }
        }
      }
    }
  }
  .card-body {
    padding: 0;
    padding-top: 0px;
    background: #f9f9fd;
    padding: 30px 65px 36px 55px;
    margin-top: 30px;
    @media #{$tab} {
      padding: 30px 25px 36px 48px;
    }
    h5 {
      font-size: 16px;
      font-weight: 500;
      color: $home_primary;
      margin-bottom: 15px;
      position: relative;
      i {
        position: absolute;
        left: 0;
        top: 4px;
        font-size: 10px;
        color: $home_primary;
        left: -20px;
      }
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: $home_body;
      line-height: 1.86;
      margin-bottom: 0;
    }
  }
}

.primary_bulet_checkbox {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
  h5 {
    font-size: 16px;
    font-weight: 500;
    font-family: $font1;
    color: $home_primary;
    margin-bottom: 0;
  }
  .label_name {
    font-size: 16px;
    font-weight: 500;
    font-family: $font1;
    color: $home_primary;
    margin-bottom: 0;
  }
  &.white_checkbox {
    .checkmark:after {
      border-color: $white;
    }
  }
  .checkmark {
    position: relative;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    line-height: 18px;
    flex: 18px 0 0;
    border-radius: 50%;
  }
  // .checkmark:after {
  //     content: "";
  //     position: absolute;
  //     display: none;
  // }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  input:checked ~ .checkmark:after {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transform: scale(1);
    border-color: $home_secondary;
  }
  input:checked ~ .checkmark {
    // background: $home_secondary;
    // width: 100%;
    // height: 100%;
    transition: 0.3s;
  }
  input:checked ~ .checkmark::before {
    transform: translate(-50%, -50%) scale(1);
  }
  .checkmark::before {
    position: absolute;
    background: $home_secondary;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s;
  }
  .checkmark:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #e9e7f7;
    transition: 0.3s;
    transform: scale(1);
  }
}
