.product_details_wrapper {
  padding: 80px 0 0px 0;
  @media #{$tab} {
    padding: 15px 0 0px 0;
  }
  .products_imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    .single_product_image {
      overflow: hidden;
      img {
        width: 100%;
        transition: 0.3s;
        transform: scale(1);
      }
      &:hover {
        img {
          transform: scale(1.3);
        }
      }
    }
  }
  .product_content_details {
    .stoke_badge {
      font-size: 12px;
      font-weight: 700;
      background: #13c481;
      color: $white;
      border-radius: 2px;
      padding: 4px 7px;
    }
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $home_primary;
      line-height: 1.42;
      max-width: 450px;
      margin: 13px 0 9px 0;
      @media #{$tab} {
        font-size: 20px;
      }
    }
    .details_text {
      margin: 24px 0 24px 0;
    }
    .viendor_text {
      grid-gap: 30px;
      .stock_text {
        &:not(:last-child) {
          &::before {
            content: "";
            position: absolute;
            right: -15px;
            height: 15px;
            width: 1px;
            background: #f1ece8;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    .stock_text {
      font-size: 14px;
      font-weight: 500;
      color: $home_primary;
      margin-bottom: 0px;
      position: relative;
      span {
        color: $home_body;
        font-weight: 500;
      }
    }
    .destils_prise_information_box {
      border-top: 1px solid #f1ece8;
      border-bottom: 1px solid #f1ece8;
      padding: 21px 0 14px 0;
      .pro_details_prise {
        grid-gap: 10px;
        span {
          font-size: 24px;
          font-weight: 500;
          color: #00124e;
        }
      }
      .pro_details_disPrise {
        margin: 1px 0 9px 0;
        .discount_prise {
          display: flex;
          align-items: center;
          font-size: 16px;
          color: $home_body;
          font-weight: 500;
          grid-gap: 5px;
        }
        .diccount_percents {
          border-radius: 5px;
          border: 1px solid #f1ece8;
          background-color: #f9f9fd;
          font-size: 12px;
          font-weight: 500;
          color: $home_body;
          height: 21px;
          min-width: 36px;
          text-align: center;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
      }
      .pro_details_text {
        font-size: 14px;
        font-weight: 500;
        color: $home_body;
      }
    }
    .prise_text {
      font-size: 24px;
      font-family: $font1;
      font-weight: 700;
      color: $home_secondary;
      grid-gap: 8px;
      span {
        font-size: 14px;
        font-weight: 400;
        color: $home_body;
        font-family: $font1;
      }
    }
    .size_quide_info {
      grid-gap: 20px;
      .single_side_guide {
        font-size: 12px;
        color: $home_secondary;
        font-weight: 700;
        display: inline-flex;
        align-items: center;
        grid-gap: 10px;
        text-transform: uppercase;
        &:last-child {
          margin-right: 0;
          margin-left: auto;
          @media #{$small_mobile} {
            margin-right: auto;
            margin-left: 0;
          }
        }
        img {
        }
      }
    }
    .add_wish_compare {
      grid-gap: 30px;
      .single_wish_compare {
        font-size: 12px;
        color: $home_secondary;
        font-weight: 700;
        display: inline-flex;
        align-items: center;
        grid-gap: 10px;
        i {
          font-size: 16px;
        }
      }
    }
    .product_ratings {
      display: flex;
      align-items: center;
      margin: 9px 0 17px 0;
      .stars {
        display: flex;
        align-items: center;
        margin-right: 15px;
        i {
          font-size: 15px;
          color: #ffc107;
          &:not(:last-child) {
            margin-right: 4px;
          }
        }
      }
      span {
        font-size: 14px;
        font-weight: 500;
        color: $home_body;
      }
    }
    .product_info {
      .single_pro_varient {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        grid-gap: 10px;
        @media #{$tab} {
          flex-wrap: wrap;
        }
        .color_List {
          label {
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
        }
        &.style_2 {
          grid-gap: 20px;
          .dot_devide {
            margin-left: 11px;
          }
        }
        .product_size {
          display: flex;
          align-items: center;
          li {
            font-size: 16px;
            font-weight: 600;
            color: $home_primary;
            border: 1px solid #e1e2e6;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            text-align: center;
            line-height: 38px;
            text-transform: uppercase;
            flex: 40px 0 0;
            cursor: pointer;
            font-family: $font1;
            &.active {
              border-color: $home_secondary;
              background: $home_secondary;
              color: $white;
            }
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
          &.material_lists {
            li {
              padding: 0 15px;
              font-weight: 400;
              flex: auto 0 0;
              width: auto;
              text-transform: capitalize;
              font-size: 16px;
            }
          }
          &.material_list2 {
            li {
              width: 50px;
              height: 50px;
              flex: 50px 0 0;
              padding: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              &.active {
                border: 2px solid $home_secondary;
                background: $white;
                color: $white;
                padding: 3px;
              }
              img {
                width: 100%;
                border-radius: 5px;
              }
            }
          }
        }
      }
      .add_wishCard {
        .add_wish_list {
          font-size: 14px;
          font-weight: 600;
          color: $home_body;
          display: inline-flex;
          align-items: center;
          i {
            font-size: 22px;
            color: #090b17;
            margin-right: 15px;
          }
        }
      }
    }
    .pro_branding_info {
      border-top: 1px solid $b_color;
      padding-top: 28px;
      margin-top: 40px;
      .single_branding {
        display: grid;
        grid-template-columns: 79px auto;
        grid-gap: 15px;
        margin-bottom: 1px;
        &:last-child {
          margin-top: 8px;
        }
        span {
          font-size: 14px;
          font-weight: 600;
          color: $home_primary;
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-transform: uppercase;
        }
        p {
          font-size: 16px;
          color: $home_body;
          font-weight: 400;
        }
      }
    }
  }
  .product_details_sujjetion {
    border-top: 1px solid #f1ece8;
    padding-top: 18px;
    .product_details_sujjetion_box {
      border: 1px solid #f1ece8;
      .product_details_sujjetion_single {
        padding: 10px;
        border-bottom: 1px solid #f1ece8;
        .thumb {
          width: 50px;
          height: 50px;
          flex: 50px 0 0;
        }
        .product_details_sujjetion_content {
          h4 {
            margin-bottom: 4px;
          }
          p {
          }
        }
      }
      .product_details_sujjetion_total {
        padding: 12px;
        .product_details_sujjetion_left {
          span {
            margin-bottom: 6px;
          }
          h4 {
          }
        }
      }
    }
  }
  .social_links {
    display: flex;
    align-items: center;
    li {
      &:not(:last-child) {
        margin-right: 10px;
      }
      a {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        transition: 0.3s;
        &:hover {
          background: $home_primary4 !important;
        }
        &.facebook_bg {
          background: #3b5998;
        }
        &.twitter_bg {
          background: #1da1f2;
        }
        &.linkedin_bg {
          background: #dd5143;
        }
      }
    }
  }
}

// product_des_review_wrapper
.product_des_review_wrapper {
  .shop_tab {
  }
  .shop_tab_content {
    .description_content {
      padding: 30px 0 80px 0;
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: $home_primary;
      }
      .Specifications {
        h4 {
          font-size: 22px;
          font-weight: 600;
          color: $home_primary;
          margin: 52px 0 30px 0;
        }
        .Specifications_list {
          .single_specif {
            display: grid;
            grid-template-columns: 152px auto;
            grid-gap: 30px;
            margin-bottom: 13px;
            span {
              font-size: 14px;
              font-weight: 600;
              color: $home_primary;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
            p {
              font-size: 14px;
              color: $home_body;
              font-weight: 400;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.shop_tab {
  border-bottom: 1px solid #ebebeb;
  li {
    a {
      font-size: 20px;
      font-weight: 600;
      color: $home_primary;
      position: relative;
      padding: 10px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 3px;
        width: 100%;
        background: #fd1c5e;
        left: 0;
        transition: 0.3s;
        opacity: 0;
      }
      &.active,
      &:hover {
        color: $home_primary4;
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

// sujjested_prosuct_area
.sujjested_prosuct_area {
  padding: 76px 0 44px 0;
  @media #{$tab} {
    padding-bottom: 40px;
  }
  .seperator_line {
    padding-bottom: 133px;
    @media #{$tab} {
      padding-bottom: 63px;
    }
  }
}

// review
.product_details_description_box {
  border-top: 1px solid #ebebeb;
  padding-top: 27px;
  margin-top: 26px;
  @media #{$min_large} {
    margin-left: 50px;
  }
  p {
    font-size: 14px;
    line-height: 30px;
    &.Information_text {
      font-size: 14px;
      color: $home_body;
      line-height: 26px;
      span {
        font-weight: 600;
        color: $home_primary;
      }
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
.product_reviews_wrapper {
  border: 1px solid #f1ece8;
  margin-top: 43px;
  .product_reviews_wrapper_head {
    border-bottom: 1px solid #f1ece8;
    padding: 18.5px 20px;
  }
  &.style_2 {
    margin-left: 0;
    border-top: 1px solid #ebebeb;
    margin-top: 70px;
    @media #{$tab} {
      margin-top: 40px;
    }
  }
  &.style_3 {
    margin-left: 0;
    border-top: 1px solid #ebebeb;
    margin-top: 70px;
    padding-top: 30px;
    @media #{$tab} {
      margin-top: 40px;
    }
  }
  .details_title {
    h4 {
      margin-bottom: 13px;
    }
  }

  .product_description_wrap {
    .single_description_wrap {
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 23px;
      margin-bottom: 26px;
    }
  }
  .course_feedback {
    display: flex;
    padding-top: 13px;
    border-bottom: 1px solid #f1ece8;
    padding-bottom: 25px;
    margin-bottom: 50px;
    @media #{$tab} {
      flex-direction: column;
    }
    .course_feedback_left {
      padding-right: 50px;
      margin-bottom: 30px;
      h2 {
        font-size: 60px;
        font-weight: 700;
        color: $home_secondary;
        margin-bottom: 0;
        line-height: 1;
      }
      .feedmak_stars {
        display: flex;
        align-items: center;
        margin: 8px 0 8px 0;
        i {
          color: #ffc107;
          font-size: 17px;
          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
      span {
        font-family: $font1;
        font-size: 14px;
        font-weight: 500;
        color: $body_text;
      }
    }
    .feedbark_progressbar {
      width: 100%;
      .single_progrssbar {
        display: grid;
        grid-template-columns: minmax(max-content, 100%) repeat(2, 1fr);
        // grid-gap: 30px;
        align-items: center;
        margin-bottom: 20px;
        // @media #{$tab}{
        //     grid-gap: 15px;
        // }
        .progress {
          height: 10px;
          background-color: #f1ece8;
          border-radius: 30px;
          margin-right: 30px;
          @media #{$tab} {
            margin-right: 15px;
          }
          .progress-bar {
            background: $home_secondary;
            border-radius: 30px;
          }
        }
        .rating_percent {
          .feedmak_stars {
            display: flex;
            align-items: center;
            margin: 0;
            margin-right: 20px;
            @media #{$tab} {
              margin-right: 15px;
            }
            i {
              color: #ffc107;
              font-size: 17px;
              @media #{$tab} {
                font-size: 14px;
              }
              &:not(:last-child) {
                margin-right: 5px;
              }
            }
          }
          span {
            font-family: $font1;
            font-size: 14px;
            font-weight: 500;
            color: $home_primary;
          }
        }
      }
    }
  }
  .description_box {
    img {
      @media #{$small_mobile} {
        width: 100%;
      }
    }
    p {
      font-size: 14px;
      line-height: 30px;
      &.Information_text {
        font-size: 14px;
        color: $home_body;
        line-height: 26px;
        span {
          font-weight: 600;
          color: $home_primary;
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
  .course_cutomer_reviews {
    padding: 50px 50px;
    @media #{$tab} {
      padding: 20px;
    }
    .details_title {
      margin-bottom: 28px;
    }
  }
}

.single_reviews {
  display: flex;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 35px;
  margin-bottom: 40px;
  .thumb {
    font-size: 20px;
    font-weight: 700;
    font-family: $font1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $home_secondary;
    flex: 80px 0 0;
    margin-right: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 80px;
    margin-bottom: 20px;
  }
  &:last-child {
    padding-bottom: 0px;
    border: 0;
    margin-bottom: 5px;
  }
  // @media #{$tab} {
  //     padding-bottom: 40px;
  //     margin-bottom: 40px;
  // }
  @media #{$small_mobile} {
    flex-direction: column;
  }
  .review_content {
    h4 {
      margin-bottom: 1px;
      color: $home_primary;
    }
    .review_content_head {
      margin: 0px 0 23px 0;
      grid-gap: 20px;
    }
    .rated_customer {
      display: flex;
      align-items: center;
      margin: 7px 0 0px 0;
      .feedmak_stars {
        display: flex;
        align-items: center;
        margin: 0;
        margin-right: 15px;
        i {
          color: #ffc107;
          font-size: 15px;
          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
      span {
        font-size: 14px;
        font-weight: 500;
        color: $home_primary;
        line-height: 1;
      }
    }
    p {
      font-size: 16px;
      line-height: 1.63;
      color: $body_text;
    }
  }
}

.seperator_line {
  border-top: 1px solid #ebebeb;
}

// details_tab_style
.details_tab_style {
  display: flex;
  grid-gap: 10px;
  &.style2 {
    flex-direction: column;
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      flex: 1 1 auto;
      grid-gap: 10px;
    }
  }
  &.style3 {
    flex-direction: column;
    grid-gap: 30px;
  }
  &.style4 {
    grid-gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &.style5 {
    flex-direction: column;
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      flex: 1 1 auto;
      grid-gap: 10px;
      @media #{$tab} {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
  @media #{$tab} {
    flex-direction: column;
  }
  ul {
    display: flex;
    grid-gap: 10px;
    flex: 120px 0 0;
    @media #{$tab} {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      flex: 1 1 auto;
    }
    li {
      @media #{$tab} {
        flex: 20% 0 0;
      }
      a {
        padding: 0;
        background: #f5f5f5;
        img {
          width: 100%;
        }
      }
    }
  }
  .details_tab_content {
    background: #f5f5f5;
    .tab-pane {
      @media #{$tab} {
        text-align: center;
      }
    }
    img {
      width: 100%;
      @media #{$tab} {
        height: 250px;
        width: auto;
      }
    }
  }
}

.home_details_tab {
  background: #f8f8fe;
  border-radius: 10px;
  display: inline-flex;
  @media #{$small_mobile} {
    display: flex;
  }
  li {
    @media #{$small_mobile} {
      display: block;
      width: 100%;
    }
    a {
      font-size: 16px;
      font-weight: 700;
      color: $home_primary;
      font-family: $font1;
      border-radius: 10px;
      display: inline-block;
      padding: 13px 40px;
      text-align: center;
      @media #{$small_mobile} {
        width: 100%;
        display: block;
      }
      &.active {
        background: $home_secondary;
        color: $white;
      }
    }
  }
}
.delivery_box {
  border: 1px solid #ebebeb;
  padding: 25px 30px;
  .delivery_box_list {
    display: flex;
    align-items: flex-start;
    grid-gap: 20px;
    &:not(:last-child) {
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 25px;
      margin-bottom: 25px;
    }
    .icon {
      position: relative;
      top: 4px;
    }
    .box_content {
      h4 {
        font-size: 16px;
        font-weight: 700;
        color: $home_primary;
        margin-bottom: 3px;
      }
      p {
        font-size: 14px;
        color: #676e8b;
        line-height: 24px;
        margin-bottom: 0;
      }
    }
  }
  &.style_2 {
    .delivery_box_list {
      &:not(:last-child) {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
      .box_content {
        flex: 100% 0 0;
        h4 {
          font-size: 16px;
          font-weight: 700;
          color: $home_primary;
          margin-bottom: 3px;
          line-height: 1;
        }
        p {
          font-size: 14px;
          color: #676e8b;
          line-height: 1;
          margin-bottom: 0;
          font-family: $font1;
          margin-top: 8px;
        }
      }
    }
    .mark_text {
      color: $home_secondary;
      font-size: 14px;
      font-weight: 500;
      font-family: $font1;
      line-height: 1;
      &:hover {
        color: $home_secondary;
      }
    }
  }
}
// product_details_dec
.product_details_dec {
  border: 1px solid #f1ece8;
  margin-top: 80px;
  .product_details_dec_header {
    border-bottom: 1px solid #f1ece8;
    padding: 17px 20px;
    h4 {
    }
  }
  .product_details_dec_body {
    padding: 30px;
    .product_details_dec_img {
    }
    .single_desc {
      p {
        line-height: 1.86;
        font-size: 14px;
      }

      &.style2 {
        p {
          line-height: 2.14;
        }
      }
    }
  }
}

.amazcart_delivery_wiz {
  border: 1px solid #f1ece8;
  .amazcart_delivery_wiz_head {
    border-bottom: 1px solid #f1ece8;
    padding: 13.5px 20px;
    h4 {
    }
  }
  .amazcart_delivery_wiz_body {
    padding: 20px 20px 13px 20px;
    .loc_city_selectBox {
      border-bottom: 1px solid #f1ece8;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .amazcart_delivery_wiz_sep {
      .icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #f1ece8;
        flex: 40px 0 0;
      }
    }
    .delivery_text {
      line-height: 1.71;
    }
  }
}

.seller_performance_box {
  border-top: 1px solid #f1ece8;
  margin-top: 12px;
  padding-top: 18px;
  .single_seller_performance {
    margin-top: 3px;
  }
}
// new
.zoomLens {
  border: 1px solid $home_secondary !important;
}
.zoomWindowContainer div {
  width: 550px !important;
  height: 418px !important;
  border: 1px solid $home_secondary !important;
}
