@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* 1. Theme default css */

// local fonts
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-BlackItalic.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-Bold.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-Black.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-BoldItalic.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd/CircularStd-BookItalic.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularSpotifyText-LightItalic.woff2")
      format("woff2"),
    url("../fonts/CircularStd/CircularSpotifyText-LightItalic.woff")
      format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd/CircularStd-Book.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-Medium.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularSpotifyText-Light.woff2")
      format("woff2"),
    url("../fonts/CircularStd/CircularSpotifyText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-MediumItalic.woff2")
      format("woff2"),
    url("../fonts/CircularStd/CircularStd-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* -------------------------------------------------------------------------- */
/*                                Google fonts                                */
/* -------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

body {
  font-family: $font1;
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  color: $body_text;
  overflow-x: hidden;
}
.img {
  max-width: 100%;
  @include transition(0.3s);
}
a {
  text-decoration: none;
}
a,
.button,
button {
  @include transition(0.3s);
}
a:focus,
.button:focus,
button:focus {
  text-decoration: none;
  outline: none;
}
a:focus {
  text-decoration: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
  // color: #000;
}
input:focus,
button:focus {
  outline: none;
}
a,
button {
  outline: medium none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $font1;
  color: $home_primary;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h4 {
  font-size: 20px;
  line-height: 25px;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $body_text;
  margin-bottom: 0;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}
*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}
*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* button style */
.owl-carousel {
  .owl-nav {
    position: absolute;
    right: 20px;
    top: -45px;
    display: flex;
    grid-gap: 5px;
    div {
      height: 24px;
      line-height: 24px;
      text-align: center;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      width: 24px;
      font-size: 12px;
      color: $white;
      @include border-radius(50%);
      background: $home_secondary;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .owl-nav {
    div {
      &.owl-next {
      }
      &.owl-prev {
        right: 40px;
      }
    }
  }
  &:hover {
    .owl-nav {
      div {
        opacity: 1;
        visibility: visible;
        &:hover {
          color: $white;
          background: $home_primary;
          border-color: $home_primary;
        }
      }
    }
  }
}

.mb-85 {
  margin-bottom: 85px;
  @media #{$small_mobile} {
    margin-bottom: 30px;
  }
  @media #{$medium_device} {
    margin-bottom: 30px;
  }
  @media #{$lg_device} {
    margin-bottom: 40px;
  }
}
.mb-65 {
  margin-bottom: 65px;
  @media #{$small_mobile} {
    margin-bottom: 20px;
  }
}
.mt-80 {
  margin-top: 80px;
}
.mb_3 {
  margin-bottom: 3px;
}
.mb_5 {
  margin-bottom: 5px;
}
.mb_6 {
  margin-bottom: 6px;
}
.mb_7 {
  margin-bottom: 7px;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_12 {
  margin-bottom: 12px;
}
.mb_13 {
  margin-bottom: 13px;
}
.mb_14 {
  margin-bottom: 14px;
}
.mb_15 {
  margin-bottom: 15px;
}
.mb_18 {
  margin-bottom: 18px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_21 {
  margin-bottom: 21px;
}
.mb_23 {
  margin-bottom: 23px;
}
.mb_25 {
  margin-bottom: 25px;
}
.mb_28 {
  margin-bottom: 28px;
}
.mb_30 {
  margin-bottom: 30px;
}
.mb_32 {
  margin-bottom: 32px;
}
.mb_35 {
  margin-bottom: 35px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mb_42 {
  margin-bottom: 42px;
}
.mb_45 {
  margin-bottom: 45px;
}
.mb_37 {
  margin-bottom: 37px;
}
.mb_50 {
  margin-bottom: 50px;
}
.mb_52 {
  margin-bottom: 52px;
}
.mb_53 {
  margin-bottom: 53px;
}
.mb_55 {
  margin-bottom: 55px;
}
.mb_60 {
  margin-bottom: 60px;
}
.mb_65 {
  margin-bottom: 65px;
}
.mb_70 {
  margin-bottom: 70px;
}
.mb_76 {
  margin-bottom: 76px;
}
.mb_80 {
  margin-bottom: 80px;
}

.mt_10 {
  margin-top: 10px;
}
.mt_15 {
  margin-top: 15px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_10 {
  margin-top: 10px;
}
.mt_30 {
  margin-top: 30px;
}
.mt_40 {
  margin-top: 40px;
}
.mt_50 {
  margin-top: 50px;
}
.mt_60 {
  margin-top: 60px;
}
.mt_70 {
  margin-top: 70px;
}

.mb_27 {
  margin-bottom: 27px;
}

.mr_5 {
  margin-right: 5px;
}
.mr_15 {
  margin-right: 15px;
}
.mr_20 {
  margin-right: 20px;
}
.mr_30 {
  margin-right: 30px;
}
.mr_40 {
  margin-right: 40px;
}
.mr_50 {
  margin-right: 50px;
}
.mr_10 {
  margin-right: 10px;
}
.pt_15 {
  padding-top: 15px;
}
.pb_5 {
  padding-bottom: 5px;
}
.pb_10 {
  padding-bottom: 10px;
}
.pb_11 {
  padding-bottom: 11px;
}
.pb_15 {
  padding-bottom: 15px;
}
.pb_20 {
  padding-bottom: 20px;
}
.pb_25 {
  padding-bottom: 25px;
}
.padding25 {
  padding: 25px;
}
.pt_70 {
  padding-top: 70px;
  @media #{$tab} {
    padding-top: 30px;
  }
}

.xl_mb_60 {
  @media #{$xl_device} {
    margin-bottom: 60px;
  }
  margin-bottom: 30px;
}
.max_450px {
  max-width: 450px;
}
/* -------------------------------------------------------------------------- */
/*                                  BG COLORS                                 */
/* -------------------------------------------------------------------------- */

.gray_color_1 {
  background: #fcfdfd;
}

#back-top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
  z-index: 9999999;
  display: none;
  a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    display: block;
    color: $white;
    line-height: 40px;
    background: $home_secondary;
    font-size: 15px;
    border-radius: 30px;
    @include transition(0.3s);
    @include box-shadow(0px 10px 20px 0px rgba($home_secondary, 0.3));
  }
}

/* -------------------------------------------------------------------------- */
/*                                 LINE_HEIGHT                                */
/* -------------------------------------------------------------------------- */
.lineHeight1 {
  line-height: 1.71;
}

// preloader

/*/ loader /*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff4f1;
  z-index: 99999;
  h3 {
    position: relative;
    font-size: 10vw;
    color: transparent;
    -webkit-text-stroke: 0.2vw $body_text;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 0;
    &::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      color: $home_secondary;
      -webkit-text-stroke: 0.2vw $home_secondary !important;
      border-right: 3px solid $home_secondary;
      overflow: hidden;
      animation: typeload 6s linear infinite;
      z-index: 9;
    }
  }
}
@keyframes typeload {
  0%,
  20%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

// bootstrap reset

.col-12 {
  @media #{$tab2} {
    position: relative;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  @media #{'(min-width: 1200px) '} {
    max-width: 1440px;
  }
}

.section_spacing {
  padding: 55px 0 20px 0;
  @media #{$tab} {
    padding: 55px 0 20px 0;
  }
}
.section_spacing2 {
  padding: 30px 0 60px 0;
  @media #{$tab} {
    padding: 30px 0 60px 0;
  }
}
.section_spacing3 {
  padding: 55px 0 30px 0;
  @media #{$tab} {
    padding: 55px 0 30px 0;
  }
}
.section_spacing4 {
  padding: 5px 0 53px 0;
  @media #{$tab} {
    padding: 5px 0 53px 0;
  }
}
.section_spacing5 {
  padding: 95px 0 67px 0;
  @media #{$tab} {
    padding: 70px 0 37px 0;
  }
}
.section_spacing6 {
  padding: 100px 0 70px 0;
  @media #{$tab} {
    padding: 70px 0 40px 0;
  }
}
.section_spacing7 {
  padding: 95px 0 70px 0;
  @media #{$tab} {
    padding: 70px 0 40px 0;
  }
}
.section_padding8 {
  padding: 116px 0px 90px 0;
  @media #{$medium_device} {
    padding: 80px 0px 50px 0;
  }
  @media #{$tab_device} {
    padding: 70px 0px 40px 0;
  }
  @media #{$small_mobile} {
    padding: 70px 0px 40px 0;
  }
  @media #{$large_mobile} {
    padding: 70px 0px 40px 0;
  }
}
// home 3 section
.home3_padding {
  padding: 88px 0 0px 0;
  @media #{$tab} {
    padding: 68px 0 0px 0;
  }
}
.home3_padding2 {
  padding: 58px 0 65px 0;
  @media #{$tab} {
    padding: 38px 0 45px 0;
  }
}
.home3_padding3 {
  padding: 100px 0 65px 0;
  @media #{$tab} {
    padding: 38px 0 45px 0;
  }
}

// home 4
.home4_padding {
  padding: 94px 0 62px 0;
  @media #{$tab} {
    padding: 68px 0 37px 0;
  }
}
.home4_padding2 {
  padding: 100px 0 69px 0;
  @media #{$tab} {
    padding: 75px 0 45px 0;
  }
}
.home4_padding3 {
  padding: 95px 0 60px 0;
  @media #{$tab} {
    padding: 68px 0 35px 0;
  }
}

// home 5
.home5_padding {
  padding: 130px 0 110px 0;
  @media #{$tab} {
    padding: 68px 0 46px 0;
  }
}

// home 6
.home6_padding {
  padding: 93px 0 64px 0;
  @media #{$tab} {
    padding: 68px 0 39px 0;
  }
}
.home6_padding2 {
  padding: 0px 0 70px 0;
  @media #{$tab} {
    padding: 0px 0 45px 0;
  }
}
.home6_padding3 {
  padding: 65px 0 70px 0;
  @media #{$tab} {
    padding: 40px 0 45px 0;
  }
}

// home 7
.home7_padding {
  padding: 55px 0 30px 0;
  @media #{$tab} {
    padding: 60px 0 30px 0;
  }
}
.home7_padding2 {
  padding: 55px 0 25px 0;
  @media #{$tab} {
    padding: 60px 0 25px 0;
  }
}
.home7_padding3 {
  padding: 0px 0 30px 0;
  @media #{$tab} {
    padding: 0px 0 30px 0;
  }
}

// home8
.home8_padding {
  padding: 150px 0 120px 0;
  @media #{$tab} {
    padding: 75px 0 40px 0;
  }
}
.home8_padding2 {
  padding: 141px 0 120px 0;
  @media #{$tab} {
    padding: 65px 0 40px 0;
  }
}

// home9
.home9_padding {
  padding: 110px 0 90px 0;
  @media #{$tab} {
    padding: 32px 0 34px 0;
  }
}
.home9_padding2 {
  padding: 140px 0 115px 0;
  @media #{$tab} {
    padding: 63px 0 34px 0;
  }
}
// home 10
.home10_padding {
  padding: 133px 0 105px 0;
  @media #{$tab} {
    padding: 63px 0 34px 0;
  }
}
.home10_padding2 {
  padding: 140px 0 110px 0;
  @media #{$tab} {
    padding: 70px 0 40px 0;
  }
}
.home10_padding3 {
  padding: 106px 0 110px 0;
  @media #{$tab} {
    padding: 35px 0 40px 0;
  }
}
.home10_padding4 {
  padding: 130px 0 110px 0;
  @media #{$tab} {
    padding: 70px 0 40px 0;
  }
}

// home11
.home11_padding {
  padding: 89px 0 70px 0;
  @media #{$tab} {
    padding: 70px 0 40px 0;
  }
}
.home11_padding_top {
  padding: 89px 0 0px 0;
  @media #{$tab} {
    padding: 70px 0 0px 0;
  }
}

// home14 sapacing
.home14_padding {
  padding: 75px 0 50px 0;
  @media #{$tab} {
    padding: 60px 0 30px 0;
  }
}
.home14_padding2 {
  padding: 80px 0 50px 0;
  @media #{$tab} {
    padding: 60px 0 30px 0;
  }
}

// home17 spacing

.home17_padding {
  padding: 80px 0 50px 0;
  @media #{$tab} {
    padding: 60px 0 30px 0;
  }
}
.home17_padding2 {
  padding: 73px 0 50px 0;
  @media #{$tab} {
    padding: 60px 0 30px 0;
  }
}
.home17_padding3 {
  padding: 68px 0 50px 0;
  @media #{$tab} {
    padding: 60px 0 30px 0;
  }
}

.pt_120 {
  padding-top: 120px;
  @media #{$tab} {
    padding-top: 70px;
  }
}

.pb_120 {
  padding-bottom: 120px;
  @media #{$tab} {
    padding-bottom: 70px;
  }
}
.pt_110 {
  padding-top: 110px;
  @media #{$tab} {
    padding-top: 70px;
  }
}
.pt_113 {
  padding-top: 113px;
  @media #{$tab} {
    padding-top: 73px;
  }
}

.pb_110 {
  padding-bottom: 110px;
  @media #{$tab} {
    padding-bottom: 70px;
  }
}
.pb_113 {
  padding-bottom: 113px;
  @media #{$tab} {
    padding-bottom: 73px;
  }
}
.pt_100 {
  padding-top: 100px;
  @media #{$tab} {
    padding-top: 70px;
  }
}

.pb_100 {
  padding-bottom: 100px;
  @media #{$tab} {
    padding-bottom: 70px;
  }
}
.pt_90 {
  padding-top: 90px;
  @media #{$tab} {
    padding-top: 40px;
  }
}
.pt_97 {
  padding-top: 97px;
  @media #{$tab} {
    padding-top: 67px;
  }
}
.pt_70 {
  padding-top: 70px;
  @media #{$tab} {
    padding-top: 40px;
  }
}

.pb_90 {
  padding-bottom: 90px;
  @media #{$tab} {
    padding-bottom: 40px;
  }
}
.pb_85 {
  padding-bottom: 85px;
  @media #{$tab} {
    padding-bottom: 35px;
  }
}

.owl-dots {
  display: flex;
  justify-content: center;
  .owl-dot {
    margin: 0 5px;
    span {
      width: 10px;
      height: 10px;
      border-radius: 30px;
      background: #d9e3e3;
      display: inline-block;
      transition: 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
    &.active {
      span {
        width: 30px;
      }
    }
  }
}

.amazy_full_height {
  height: calc(100% - 25px);
}

// font size
.font_10 {
  font-size: 10px;
}
.font_12 {
  font-size: 12px !important;
}
.font_14 {
  font-size: 14px !important;
}
.font_15 {
  font-size: 15px;
}
.font_16 {
  font-size: 16px;
}
.font_18 {
  font-size: 18px;
}
.font_20 {
  font-size: 20px;
}
.font_22 {
  font-size: 22px;
}
.font_25 {
  font-size: 25px;
}
.font_24 {
  font-size: 24px;
}
.font_30 {
  font-size: 30px;
  line-height: 45px;
  @media #{$tab} {
    font-size: 25px;
    line-height: 35px;
  }
}
.font_40 {
  font-size: 40px;
  line-height: 55px;
  @media #{$tab} {
    font-size: 25px;
    line-height: 35px;
  }
}
.font_45 {
  font-size: 45px;
}
.font_50 {
  font-size: 50px;
}
.font_60 {
  font-size: 60px;
}
.font_70 {
  font-size: 70px;
}
.font_80 {
  font-size: 80px;
}

// font weight
.f_w_300 {
  font-weight: 300 !important;
}
.f_w_400 {
  font-weight: 400 !important;
}
.f_w_500 {
  font-weight: 500 !important;
}
.f_w_600 {
  font-weight: 600 !important;
}
.f_w_700 {
  font-weight: 700 !important;
}

.dot_devide {
  display: inline-block !important;
}

.priamry_text {
  color: $home_primary;
}
.secondary_text {
  color: $home_secondary !important;
}
.theme_hover {
  transition: 0.3s;
  &:hover {
    color: $home_secondary !important;
  }
}
.mute_text {
  color: $body_text;
}
.font_1 {
  font-family: $font1;
}
.font_2 {
  font-family: $font1;
}

.theme_search_field {
  background: transparent;
  height: 50px;
  border-radius: 5px;
  width: 400px;
  border: 1px solid #f1f1f1;
  button {
    font-size: 18px;
    color: #ff1c5e;
    padding: 0 0 0 20px;
    line-height: 100%;
    box-shadow: none !important;
    height: 50px;
    &:hover {
      color: #ff1c5e;
    }
  }
  input {
    font-size: 14px;
    font-weight: 400;
    color: $body_text;
    font-family: $font1;
    border: 0;
    background: transparent !important;
    height: 50px;
    padding: 0px 15px 0px 10px;
    box-shadow: none !important;
    line-height: 50px;
    &::placeholder {
      color: $body_text;
    }
  }
  &.large_search_field {
    width: 500px;
    height: 60px;
    button {
      padding-left: 30px;
    }
    input {
      height: 60px;
      line-height: 60px;
    }
  }
}
// header style
.header_search_field {
  background: #f9f9fd;
  height: 50px;
  border-radius: 5px;
  width: 640px;
  border: 1px solid #f1f1f1;
  @media #{$large_xl} {
    width: 450px;
  }
  @media #{$lg_device} {
    width: 350px;
  }
  button {
    font-size: 18px;
    color: #fc5e49;
    padding: 0 0 0 20px;
    line-height: 100%;
    box-shadow: none !important;
    height: 50px;
    &:hover {
      color: #fc5e49;
    }
  }
  input {
    font-size: 14px;
    font-weight: 400;
    font-family: $font1;
    border: 0;
    background: transparent !important;
    height: 50px;
    padding: 0px 15px 0px 10px;
    box-shadow: none !important;
    line-height: 50px;
    color: $home_primary;
    &::placeholder {
      color: $body_text;
    }
  }
  &.large_search_field {
    width: 500px;
    height: 60px;
    button {
      padding-left: 30px;
    }
    input {
      height: 60px;
      line-height: 60px;
    }
  }
}
// select style
.nice-select .list {
  background-color: #fff;
  color: #d1d1d1;
  z-index: 80;
  width: min-content;
  min-width: 100%;
  border-radius: 5px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12);
  line-height: 32px;
  padding: 10px 0px;
  border: 0;
  li.option {
    color: #d1d1d1;
    visibility: visible;
    line-height: 32px;
    background: #fff;
    font-size: 15px;
    min-height: 32px;
    &:hover,
    &.selected,
    &.focus,
    &.selected.focus {
      color: #00124e;
      background: #fff;
    }
  }
}
.small_select {
  border: solid 1px #e9e7f7 !important;
  height: 35px;
  min-width: 180px;
  line-height: 34px;
  padding-left: 20px;
  &::after {
    right: 22px;
    top: 6px;
    color: $body_text;
    font-size: 10px;
  }
  .current {
    font-family: $font1;
    font-size: 14px;
    font-weight: 500;
    color: $body_text;
    line-height: 30px;
  }
  .list {
    width: 100%;
    .option {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
.theme_select {
  border: solid 1px #e1e2e6 !important;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  padding-left: 30px;
  &.style2 {
    padding-left: 20px;
    border: 1px solid #e3e6ef !important;
    border-radius: 0px;
    &.open {
      &::after {
        content: "\e622";
      }
    }
    &::after {
      content: "\e61a";
      right: 25px;
    }
    .current {
      font-family: $font1;
      font-size: 14px;
      font-weight: 400;
      color: $home_body;
    }
  }
  &.select_transparent {
    background: transparent !important ;
  }
  &::after {
    right: 33px;
    top: 6px;
    color: $home_body;
    font-size: 12px;
  }
  .current {
    font-family: $font1;
    font-size: 14px;
    font-weight: 500;
    color: $home_body;
    line-height: 50px;
  }
  .list {
    width: 100%;
    .option {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.pagination_lists {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  li {
    &:not(:last-child) {
      margin-right: 10px;
    }
    a {
      width: 40px;
      height: 40px;
      display: inline-block;
      border: 1px solid #ebebeb;
      border-radius: 5px;
      flex: 40px 0 0;
      text-align: center;
      line-height: 40px;
      transition: 0.3s;
      font-size: 16px;
      color: #656565;
      font-weight: 600;
      &:hover {
        background: #fd1c5e;
        border-color: #fd1c5e;
        color: #fff;
      }
      &.active {
        background: #fd1c5e;
        border-color: #fd1c5e;
        color: #fff;
      }
    }
  }
}

.badge_1 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  background: #fd1c5e;
  border-radius: 30px;
  padding: 4.5px 15px;
}
.badge_2 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  background: #33c922;
  border-radius: 30px;
  padding: 4.5px 15px;
}
.text_underline {
  text-decoration: underline !important;
}

.cursor_default {
  cursor: default !important;
}

.vertical_line {
  height: 10px;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
  &.dark_line {
    background: rgba(0, 0, 0, 0.1);
  }
  &.style2 {
    background: #f1f1f1;
    height: 15px;
  }

  &.style3 {
    background: rgba(241, 241, 241, 0.1);
    height: 15px;
  }
  &.style4 {
    background: #f1f1f1;
    height: 10px;
  }
  &.style5 {
    background: #3b3b3b;
    height: 15px;
  }
}
.vertical_line2 {
  height: 30px;
  width: 1px;
  background: #f1f1f1;
  display: inline-block;
  &.dark_line {
    background: rgba(0, 0, 0, 0.1);
  }
}
.horizontal_line {
  height: 1px;
  width: 30px;
  background: #f1f1f1;
  display: inline-block;
  &.opacity_2 {
    background: rgba(241, 241, 241, 0.2);
  }
}
/* -------------------------------------------------------------------------- */
/*                                   BORDERS                                  */
/* -------------------------------------------------------------------------- */
.amazy_dashBorder {
  border-bottom: 1px dashed #e3e6ef;
}
.amazy_bb {
  border-bottom: 1px solid $border_3;
}
.amazy_bb2 {
  border-bottom: 1px solid $border_2;
}
.amazy_bb3 {
  border-bottom: 1px solid $border_1;
}
.border_bottom1px {
  border-bottom: 1px solid #f3f3f3;
}

.theme_border {
  border: 1px solid $border_1;
}
.theme_border2 {
  border: 1px solid $border_2;
}

.home3_border {
  border-top: 1px solid #f1f1f1;
}
.home6_border {
  border-bottom: 1px solid $border_2;
}
.home10_border {
  border-bottom: 1px solid #ebebeb;
}
.home10_border2 {
  border-bottom: 1px solid #e1e2e6;
}

.border {
  border: 1px solid #e1e2e6;
}
.border2 {
  border: 1px solid #f3f3f3;
}
.border3 {
  border: 1px solid #e3e3e3;
}

// BORDER RADIUS
.radius_5px {
  border-radius: 5px;
}
.radius_10px {
  border-radius: 10px;
}

//################# home_one ################

.gap_5 {
  grid-gap: 5px;
}
.gap_7 {
  grid-gap: 7px;
}
.gap_10 {
  grid-gap: 10px;
}
.gap_12 {
  grid-gap: 12px;
}
.gap_13 {
  grid-gap: 13px;
}
.gap_15 {
  grid-gap: 15px;
}
.gap_20 {
  grid-gap: 20px;
}
.gap_25 {
  grid-gap: 25px;
}
.gap_30 {
  grid-gap: 30px;
}
.gap_40 {
  grid-gap: 40px;
}
.gap_r15 {
  grid-row-gap: 15px;
}
.gap_c40 {
  grid-column-gap: 40px;
}

.home2_deal_border {
  border: 2px solid #fd9a23;
  .col-xl-3 {
    .product_widget3 {
      margin-top: 0;
      margin: 0;
    }
  }
}

.amaz_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  .arrow_btns {
    font-size: 14px;
    font-weight: 500;
    color: #00124e;
    grid-gap: 5px;
    margin: 0 10px;
    i {
      font-size: 7px;
    }
  }
  a {
    color: #00124e;
    &:hover {
      color: $home_secondary;
    }
  }
  .page_counter_dot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }
  .page_counter {
    font-size: 14px;
    font-weight: 500;
    color: #687083;
    font-family: $font1;
    margin: 0 2.5px;
    display: inline-flex;
    align-items: center;
    border: 1px solid $border_3;
    width: 30px;
    height: 30px;
    flex: 30px 0 0;
    border-radius: 50%;
    justify-content: center;
    line-height: 1;
    &:hover,
    &.active {
      color: $white;
      background: $home_secondary;
      border-color: $home_secondary;
    }
    &:first-child {
      margin-right: 15px;
    }
    &:last-child {
      margin-left: 15px;
    }
  }
}

.mega_static {
  @media #{"(min-width: 992px)"} {
    position: static !important;
  }
}

// scrollbar css
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: transparent;
  width: 11px;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: transparent;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent;
  opacity: 0;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0;
}

.list_disc {
  list-style: disc !important;
}
.list_disc {
  list-style: disc !important;
}

.home12_dark_overlay {
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(1, 3, 11, 0.3);
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  font-size: 10px;
  padding: 0;
  z-index: 12;
  @media #{$tab} {
    display: none !important;
  }
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "\e64a";
  font-family: "themify";
  font-size: 15px;
  color: #fff;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "\e649";
  font-family: "themify";
  font-size: 15px;
  color: #fff;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 50px;
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 50px;
  left: auto;
}
.swiper-pagination {
  bottom: 34px !important;
  @media #{$tab} {
    display: none !important;
  }
  .swiper-pagination-bullet {
    font-size: 16px;
    font-weight: 700;
    color: $white;
    font-family: $font1;
    opacity: 1 !important;
    background: transparent;
    width: auto;
    height: auto;
    margin: 0 7.5px !important;
    position: relative;
    line-height: 1;
    &.swiper-pagination-bullet-active {
      padding-left: 40px;
      margin-left: 3px !important;
      &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 2px;
        background: $white;
        left: 0;
        bottom: 2px;
      }
    }
  }
}
.swiper-button-next,
.swiper-button-prev {
  margin: 0 !important;
  transform: translateY(-50%);
}

// select style
.nice-select .list {
  background-color: #fff;
  color: #d1d1d1;
  z-index: 80;
  width: min-content;
  min-width: 100%;
  border-radius: 5px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12);
  line-height: 32px;
  padding: 10px 0px;
  border: 0;
  li.option {
    color: #d1d1d1;
    visibility: visible;
    line-height: 32px;
    background: #fff;
    font-size: 15px;
    min-height: 32px;
    &:hover,
    &.selected,
    &.focus,
    &.selected.focus {
      color: #00124e;
      background: #fff;
    }
  }
}
.small_select {
  border: solid 1px #e9e7f7 !important;
  height: 35px;
  min-width: 180px;
  line-height: 34px;
  padding-left: 20px;
  &::after {
    right: 22px;
    top: 6px;
    color: $home_body;
    font-size: 8px;
  }
  .current {
    font-family: $font1;
    font-size: 14px;
    font-weight: 500;
    color: $home_body;
    line-height: 30px;
  }
  .list {
    width: 100%;
    .option {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.amaz_select {
  border: solid 1px $border_3 !important;
  height: 35px;
  min-width: 160px;
  line-height: 35px;
  padding-left: 20px;
  &::after {
    right: 22px;
    top: 6px;
    color: $home_body;
    font-size: 10px;
  }
  .current {
    font-family: $font1;
    font-size: 14px;
    font-weight: 400;
    color: $home_body;
    line-height: 30px;
  }
  .list {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    margin-top: 1px;
    border: 0;
    padding: 12px 0;
    .option {
      font-family: $font1;
      font-size: 14px;
      font-weight: 700;
      color: $home_body;
      line-height: 30px;
      display: flex;
      align-items: center;
      min-height: 30px;
    }
  }
}
.amaz_select2 {
  border: 1px solid $border_3 !important;
  height: 45px;
  min-width: 160px;
  line-height: 45px;
  border-radius: 5px;
  padding-left: 15px;
  &.style2 {
    padding-left: 0;
    border-radius: 0;
    border: 0 !important;
    border-bottom: 1px solid $border_3 !important;
    .current {
      font-family: $font1;
      font-size: 16px;
      font-weight: 400;
      color: $home_body;
    }
    &::after {
      right: 1px;
    }
  }
  &::after {
    content: "\f0d7";
    font-family: "Font Awesome 5 free";
    right: 16px;
    top: 4px;
    color: $home_body;
    font-size: 12px;
    font-weight: 900;
  }
  .current {
    font-family: $font1;
    font-size: 14px;
    font-weight: 400;
    color: $home_body;
    line-height: 45px;
  }
  .list {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    margin-top: 1px;
    border: 0;
    padding: 12px 0;
    .option {
      font-family: $font1;
      font-size: 14px;
      font-weight: 700;
      color: $home_body;
      line-height: 30px;
      display: flex;
      align-items: center;
      min-height: 30px;
    }
  }
}
.amaz_select3 {
  border: 0 !important;
  height: 31px;
  min-width: 107px;
  line-height: 31px;
  padding-left: 10px;
  &::after {
    right: 13px;
    top: 6px;
    color: $home_primary;
    font-size: 8px;
  }
  .current {
    font-family: $font1;
    font-size: 12px;
    font-weight: 500;
    color: $home_primary;
    line-height: 31px;
  }
  .list {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    margin-top: 1px;
    border: 0;
    padding: 12px 0;
    font-size: 12px;
    .option {
      font-family: $font1;
      font-size: 14px;
      font-weight: 700;
      color: $home_body;
      line-height: 30px;
      display: flex;
      align-items: center;
      min-height: 30px;
    }
  }
}
.amaz_select4 {
  border: 0;
  height: 40px;
  min-width: 160px;
  line-height: 40px;
  border-radius: 3px;
  background-color: #f5f8fa;
  padding-left: 15px;
  &.style2 {
    border-radius: 3px;
  }
  &::after {
    right: 16px;
    top: 5px;
    color: $home_body;
    font-size: 8px;
    font-weight: 900;
  }
  .current {
    font-family: $font1;
    font-size: 14px;
    font-weight: 400;
    color: $home_body;
    line-height: 40px;
  }
  .list {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    margin-top: 1px;
    border: 0;
    padding: 12px 0;
    .option {
      font-family: $font1;
      font-size: 14px;
      font-weight: 700;
      color: $home_body;
      line-height: 30px;
      display: flex;
      align-items: center;
      min-height: 30px;
    }
  }
}
.amaz_select5 {
  border: 0;
  height: 40px;
  min-width: 148px;
  line-height: 40px;
  border-radius: 3px;
  background-color: #fff;
  padding-left: 15px;
  &.style2 {
    border-radius: 3px;
  }
  &::after {
    right: 16px;
    top: 5px;
    color: $home_primary;
    font-size: 8px;
    font-weight: 900;
  }
  .current {
    font-family: $font1;
    font-size: 14px;
    font-weight: 500;
    color: $home_primary;
    line-height: 40px;
  }
  .list {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    margin-top: 1px;
    border: 0;
    padding: 12px 0;
    .option {
      font-family: $font1;
      font-size: 14px;
      font-weight: 700;
      color: $home_body;
      line-height: 30px;
      display: flex;
      align-items: center;
      min-height: 30px;
    }
  }
}
.amaz_select6 {
  border: 0;
  height: 40px;
  min-width: 160px;
  line-height: 40px;
  border-radius: 0px;
  background-color: #fff;
  padding-left: 20px;
  border: 1px solid #f1ece8 !important;
  &.style2 {
    border-radius: 3px;
  }
  &::after {
    right: 20px;
    top: 4px;
    color: $home_body;
    font-size: 8px;
    font-weight: 900;
    content: "\e61a";
  }
  .current {
    font-family: $font1;
    font-size: 14px;
    font-weight: 500;
    color: $home_body;
    line-height: 40px;
    text-transform: capitalize;
  }
  .list {
    width: 100%;
    border-radius: 0px;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border: 0;
    padding: 12px 0;
    li {
      &.option {
        font-family: $font1;
        font-size: 14px;
        font-weight: 500;
        color: $home_body;
        line-height: 30px;
        display: flex;
        align-items: center;
        min-height: 30px;
        text-transform: capitalize;
        padding-left: 20px;
        &:hover {
          color: $home_primary;
        }
      }
    }
  }
}
.theme_search_field4 {
  background: transparent;
  height: 50px;
  border-radius: 5px;
  width: 510px;
  border: 1px solid $border_2;
  @media #{'(min-width: 1200px) and (max-width: 1459.98px)'} {
    width: 280px;
  }
  button {
    font-size: 18px;
    color: $home_secondary;
    padding: 0 0 0 20px;
    line-height: 100%;
    box-shadow: none !important;
    height: 50px;
    &:hover {
      color: $home_secondary;
    }
  }
  input {
    font-size: 14px;
    font-weight: 400;
    color: $home_primary;
    font-family: $font1;
    border: 0;
    background: transparent !important;
    height: 50px;
    padding: 0px 15px 0px 10px;
    box-shadow: none !important;
    line-height: 50px;
    &::placeholder {
      color: $body_text;
    }
  }
  &.large_search_field {
    width: 500px;
    height: 60px;
    button {
      padding-left: 30px;
    }
    input {
      height: 60px;
      line-height: 60px;
    }
  }
  &.style2 {
    border-radius: 0;
    border-color: $border_2;
    i {
      color: $home_secondary;
    }
    input {
      font-size: 14px;
      font-weight: 400;
      color: $home_primary;
      font-family: $font1;
      border: 0;
      background: transparent !important;
      height: 50px;
      padding: 0px 15px 0px 10px;
      box-shadow: none !important;
      line-height: 50px;
      &::placeholder {
        color: #686868;
      }
    }
  }
}

// counter style
.amazy_date_counter {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  justify-content: center;
  .single_count {
    border-radius: 5px;
    border: 1px solid $border_3;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 14px 10px;
    min-width: 60px;
    span {
      font-size: 24px;
      font-weight: 700;
      display: block;
      font-family: $font1;
      color: $home_secondary;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      line-height: 1;
      margin-bottom: 4px;
      @media #{$tab} {
        font-size: 20px;
      }
    }
    p {
      font-size: 12px;
      font-weight: 500;
      color: $home_primary;
      text-transform: uppercase;
      margin-bottom: 0;
      line-height: 1;
    }
  }
}
// uplad img
.account_img_upload {
  .thumb {
    border-radius: 10px;
  }
  .theme_img_uploader {
    .img_upload_btn {
      border-radius: 3px;
      border: solid 1px #eef0f4;
      background-color: #fcfdfd;
      padding: 2px 11px;
      transition: 0.3s;
      color: $home_primary;
      &:hover {
        background: $home_secondary;
        color: $white;
        border-color: $home_secondary;
      }
      input {
        opacity: 0;
      }
    }
  }
}

.note-editor .dropdown-toggle::after {
  display: none;
}
.note-editor.note-frame,
.note-editor.note-airframe {
  border: 1px solid #e3e6ef;
  border-radius: 0;
}
.note-btn {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid #dae0e5;
  white-space: nowrap;
  outline: 0;
  background-color: #fff;
  border-color: #dae0e5;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: solid 1px #eef0f4;
  background-color: #fcfdfd;
  font-size: 14px;
  font-weight: 500;
  color: #687083;
  border-radius: 3px;
}
.note-toolbar {
  border-bottom: 1px solid #e2e2e2;
  color: #687083;
  background-color: #f5f5f5;
  border-color: #ddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #fff;
  padding: 26px 30px 20px 30px !important;
  border: 0 !important;
}
.note-editing-area {
  padding: 0px 30px 30px 18px;
}

// select for lang

.flag_toggle {
  .toggle_btn {
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 0 16px 0 0;
    color: $home_primary;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    font-family: $font1;
    height: 40px;
    span {
      font-size: 12px;
      font-weight: 500;
      color: #00124e;
    }
    i {
      font-size: 8px;
    }
    &::before {
      position: absolute;
      right: 0;
      content: "\e64b";
      color: $home_primary;
      font-family: "themify";
      font-size: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.language_toggle_btn {
  i {
    font-size: 8px;
    color: $home_primary;
  }
}
.language_toggle_box {
  width: 266px;
  padding: 30px;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.05);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 12345611;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.zoomContainer {
  @media #{$tab} {
    display: none !important;
  }
}

.short_curt_icons {
  background: $home_secondary;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 12;
  border-top: 1px solid #ffffff30;
  display: none;
  @media #{$tab2} {
    display: flex;
  }
  li {
    flex: 1 1 100%;
    text-align: center;
    a {
      font-size: 24px;
      color: #fff;
      padding: 14px 9.5px;
      display: inline-block;
    }
  }
}

#product_category_chose {
  @media #{$tab2} {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    background: #fff;
    z-index: 1234567;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    max-width: 400px;
    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0%);
    }
  }
}
.box_header_right {
  @media #{$tab} {
    flex: 1 1 auto;
  }
}
.product_category_chose {
  .course_title {
    @media #{$tab2} {
      padding: 0 15px;
    }
  }
}
